{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <title>Predict</title>
{% endblock head %}


{% block body %}
  
    <div class="container">
        <p></p>
        <p>Available Models:</p>
        <select name="models" id="models">

            {% for model in models%}
              <option value="{{model}}">{{model}}</option>
            {% endfor %}
        </select>

        <button class="btn btn-info" id="loadButton">Load Model</button>
        
        <hr>
        <div id="predArea">
            <p>Enter Text to be classified</p>
            <textarea name="text" id="text" cols="80" rows="10"></textarea>

            <button class="btn btn-primary" id="predButton">Predict</button>
        </div>

    </div>

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Answer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p id="modalText"></p>
                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Save changes</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div> -->
              </div>
            </div>
          </div>




    <script>
        document.querySelector('#predArea').style.display = 'none'
        document.querySelector('#train-li').classList.remove('active')
        document.querySelector('#pred-li').classList.add('active')

        document.querySelector('#loadButton').addEventListener('click', function(event) {
            const name = document.querySelector('#models').value

            $.ajax({
                url: '/load/',
                data: {"model": name},
                dataType: 'json',
                method: 'post',
                success: function(result) {
                    if (result['message'] === 'success') {
                        alert(`${name} loaded successfully`)
                        document.querySelector('#predArea').style.display = 'block'
                    } else {
                        alert(`failed to load ${name}`)
                        document.querySelector('#predArea').style.display = 'none'
                    }
                   
                },
                error: function(result) {
                    alert(`failed to load ${name}`)
                    document.querySelector('#predArea').style.display = 'none'
                }
            })

        })


        document.querySelector('#predButton').addEventListener('click', function(event) {
            const text = document.querySelector('#text').value
            console.log(text)
            $.ajax({
                url: '/predict/',
                data: {"text": text},
                dataType: 'json',
                method: 'post',
                success: function(result) {
                    const modal = new Modal(document.querySelector('#myModal'))
                    document.querySelector('#modalText').textContent = `Prediction: ${result['result']}`
                    modal.show()
                },
                error: function(result) {
                    alert('failed to get prediction, please try reload model')
                }
            })

        })


    </script>

{% endblock body %}