{% extends 'base.html' %}

{% block head %}
   <title>Train</title>
{% endblock head %}


{% block body %}
<style>
    .param-div {
        max-height: 50vh;
        overflow-y: auto;
    }
</style>

<script>
    {% if error %}
    alert('{{error}}')
    {% endif %}

</script>


{% if train_accs %}
<div class="container">
    <p></p>
    <h4 style="text-align:center">Training finished for {{model_type|upper}} model: {{ model_name}} </h4>
    <div id="chartArea"></div>
</div>

<script>
        // read data
        const train_accs = {% autoescape off%}{{train_accs}}{% endautoescape %}
        const val_accs = {% autoescape off%}{{val_accs}}{% endautoescape %}
        const data = train_accs.map(function(d, i) {
            return [train_accs[i], val_accs[i]]
        })
        console.log(data)

        // add svg
        const margin = {top: 100, right: 200, bottom: 200, left: 150}
        const width = 1300 - margin.left - margin.right
        const height = 700 - margin.top - margin.bottom

        // svg
        const g = d3.select('#chartArea').append('svg')
            .attr('width', width + margin.left + margin.right)
            .attr('height', height + margin.top + margin.bottom)
            .append('g')
                .attr('transform', `translate(${margin.left}, ${margin.top})`)


        // scale
        const x = d3.scalePoint()
            .range([0, width])
        const y = d3.scaleLinear()
            .range([height, 0])

        // axis
        const xAxisCall = d3.axisBottom()
        const yAxisCall = d3.axisLeft()

        g.append('g')
            .attr('id', 'xAxis')
            .attr('transform', `translate(0, ${height})`)

        g.append('g')
            .attr('id', 'yAxis')

        // axis labels
        g.append('text')
            .attr('class', 'xAxisLabel')
            .attr('text-anchor', 'middle')
            .attr('x', width / 2)
            .attr('y', height+50)
            .text('Epochs')

        g.append('text')
            .attr('class', 'yAxisLabel')
            .attr('text-anchor', 'middle')
            .attr('transform', 'rotate(-90)')
            .attr('x', -height / 2)
            .attr('y', -50)
            .text('Accuracy')


        // add svg path
        g.append('path')
            .attr('id', 'line1')
            .attr('stroke', 'red')
            .attr('stroke-width', '3px')
            .attr('fill', 'none')

        g.append('path')
            .attr('id', 'line2')
            .attr('stroke', 'blue')
            .attr('stroke-width', '3px')
            .attr('fill', 'none')


        // add legends
        g.append('g')
            .attr('id', 'legends')
            .attr('transform', `translate(${width + 75}, 100)`)

        g.select('#legends').append('text')
            .attr('dx', '10')
            .attr('dy', '10')
            .text('Training')
        g.select('#legends').append('rect')
            .attr('x', 0)
            .attr('y', 0)
            .attr('height', '10')
            .attr('width', '10')
            .attr('fill', 'red')

        g.select('#legends').append('text')
            .attr('dx', '10')
            .attr('dy', '30')
            .text('Validation')
        g.select('#legends').append('rect')
            .attr('x', 0)
            .attr('y', 20)
            .attr('height', '10')
            .attr('width', '10')
            .attr('fill', 'blue')
        


        // plot data
        function update(data) {
            // update scale
            x.domain(data.map((d, i) => i))
            y.domain([0, 1])

            // update axis
            xAxisCall.scale(x)
            yAxisCall.scale(y)
            g.select('#xAxis').call(xAxisCall)
            g.select('#yAxis').call(yAxisCall)

            // add scatter
            scatters= g.selectAll('.points').data(data)
            scatters.enter()
                .append('circle')
                    .attr('class', 'points')
                    .attr('cx', (d, i) => x(i))
                    .attr('cy', (d, i) => y(d[0]))
                    .attr('r', 5)
                    .attr('fill', 'red')

            // add 2nd scatter
            scatters.enter()
                .append('circle')
                    .attr('class', 'points')
                    .attr('cx', (d, i) => x(i))
                    .attr('cy', (d, i) => y(d[1]))
                    .attr('r', 5)
                    .attr('fill', 'blue')
            
            scatters.exit().remove()


            // add labels
            labels = g.selectAll('.labels').data(data)
            labels.enter()
                .append('text')
                    .attr('class', 'labels')
                    .attr('x', (d, i) => x(i))
                    .attr('y', (d, i) => y(d[0]))
                    .attr('dx', '10px')
                    .attr('dy', '-10px')
                    .text((d, i) => d[0].toFixed(2))
                    .style('fill', 'red')

            labels.enter()
                .append('text')
                    .attr('class', 'labels')
                    .attr('x', (d, i) => x(i))
                    .attr('y', (d, i) => y(d[1]))
                    .attr('dx', '10px')
                    .attr('dy', '-10px')
                    .text((d, i) => d[1].toFixed(2))
                    .style('fill', 'blue')

            labels.exit().remove()
            

            // generate path
            const line1 = d3.line()
                .x((d, i) => x(i))
                .y((d, i) => y(d[0]))

            d3.select('#line1').attr('d', line1(data))
            
            const line2 = d3.line()
                .x((d, i) => x(i))
                .y((d, i) => y(d[1]))
            d3.select('#line2').attr('d', line2(data))
            
        }
        update(data)
    
</script>

{% else %}

<form enctype="multipart/form-data" method="POST"> {% csrf_token %}
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-6">
                <div class="container">
                        <p></p>
                        <h4>Customize Model Parameters</h4>
                        <hr><br>
                        <p>Model Name: <input name="model_name" type="text" value="mymodel"></p>

                        <hr>
                        <p>Model Type: <select name="model_type" id="model_type">
                                <option value="svm">Support Vector Machine</option>
                                <option value="cnn">Convolutional Neural Network</option>
                                <option value="rnn">Recurrent Neural Network</option>
                            </select></p>

                        <hr>
                    
                        <div id="parameter-div">
                            <div id="svm_params" class="param-div"></div>
                
                            <div id="cnn_params" class="param-div"></div>                    
                
                            <div id="rnn_params" class="param-div"></div>   
                
                </div>
                
                </div>
                
            </div>
        
        <div class="col-5">
                <p></p>
                <h4>Choose Training CSV File</h4>                

                <input type="file" name="train_file" accept=".csv">
                <hr>

                <p>Name of the column with Text: <input type="text" name="text_col" value="texts"></p>

                <p>Name of the column with Labels: <input type="text" name="label_col" value="labels"></p>

                <hr>

                <p>Fraction to use for validation: <input type="text" name="val_size" value="0.2"></p>
        </div>


    </div>
    <hr>
    <div style="text-align:center">
            <button class="btn btn-primary btn-lg" id="train_button" type="button">Start Training</button>
    </div>
   
</form>


       


         <div class="modal" tabindex="-1" role="dialog" id="my_modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Processing...</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Model is training.</p>
                  <p>Please be patient and do not refresh the page.</p>
                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Save changes</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div> -->
              </div>
            </div>
          </div>

    <script>
        function clear_param_divs() {
            const param_divs = document.querySelectorAll('.param-div')
            param_divs.forEach(function(d) {
                while (d.hasChildNodes()) {
                    d.removeChild(d.lastChild)
                }
            })
            document.querySelector('#svm_params').style.display='none'
            document.querySelector('#cnn_params').style.display='none'
            document.querySelector('#rnn_params').style.display='none'
        }

        function display_svm() {
            document.querySelector('#svm_params').style.display='block'

            const svm_params = document.querySelector('#svm_params')
            const elements = [
                ['Maximum Vocabulary', 'max_words', '100000'],
                ['L2 Regularization', 'reg', '1e-6'],
                ['Learning Rate', 'lr', '1e-3'],
                ['Number of Epochs', 'epochs', '10'],
                ['Learning Rate Decay per epoch', 'decay', '0.99']
            ]
            elements.forEach(function(d) {
                const p = document.createElement('p')
                p.innerHTML = `${d[0]}: <input name="${d[1]}" value="${d[2]}"> <hr>`
                svm_params.appendChild(p)

            })
        }

        function display_cnn() {
            document.querySelector('#cnn_params').style.display='block'

            const cnn_params = document.querySelector('#cnn_params')
            const elements = [
                ['Maximum Vocabulary', 'max_words', '100000'],
                ['Convolution Kernel Size', 'kernel_size', '5'],
                ['Number of Filters', 'num_filters', '128'],
                ['Hidden Layer Size', 'hidden_size', '128'],
                ['Dropout Rate', 'dropout', '0.5'],
                ['L2 Regularization', 'reg', '1e-6'],
                ['Learning Rate', 'lr', '1e-3'],
                ['Number of Epochs', 'epochs', '10'],
                ['Learning Rate Decay per epoch', 'decay', '0.99']
            ]
            elements.forEach(function(d) {
                const p = document.createElement('p')
                p.innerHTML = `${d[0]}: <input name="${d[1]}" value="${d[2]}"> <hr>`
                cnn_params.appendChild(p)

            })
        }


        function display_rnn() {
            document.querySelector('#rnn_params').style.display='block'

            const rnn_params = document.querySelector('#rnn_params')
            const elements = [
                ['Maximum Vocabulary', 'max_words', '100000'],
                ['Hidden Layer Size', 'hidden_size', '128'],
                ['Dropout Rate', 'dropout', '0.5'],
                ['L2 Regularization', 'reg', '1e-6'],
                ['Learning Rate', 'lr', '1e-3'],
                ['Number of Epochs', 'epochs', '10'],
                ['Learning Rate Decay per epoch', 'decay', '0.99']
            ]
            elements.forEach(function(d) {
                const p = document.createElement('p')
                p.innerHTML = `${d[0]}: <input name="${d[1]}" value="${d[2]}"> <hr>`
                rnn_params.appendChild(p)

            })
        }


        
        document.querySelector('#train-li').classList.add('active')
        document.querySelector('#pred-li').classList.remove('active')

        document.querySelector('#model_type').value = 'svm'

        clear_param_divs()
        display_svm()

        document.querySelector('#model_type').addEventListener('change', function() {

            clear_param_divs()
            const selected_type = document.querySelector('#model_type').value

            if (selected_type === 'svm') {
                display_svm()
            } else if (selected_type === 'cnn') {
                display_cnn()
            } else {
                display_rnn()
            }

        })
    
        document.querySelector('#train_button').addEventListener('click', function(event) {

            const form = event.target.parentNode.parentNode
            
            // validation

            if (document.querySelector('input[name=model_name]').value.length < 1 ) {
                alert('Please enter a valid name for the model')
            }

            const inputs = document.querySelectorAll('input')
            
            let empty = false
            for (let i = 0; i < inputs.length; i+=1) {
                if (!inputs[i].value) {
                    empty = true
                    break
                }
            }

            if (empty) {
                alert('Please make sure all fields are entered appropriately')
            } else {
                const modal = new Modal(document.querySelector('#my_modal'))
                modal.show()
                console.log(form)
                form.submit()
            }

        })


    </script>
{% endif %}


{% endblock body %}
