<!DOCTYPE html>
<html lang="en">
<head>

        {% load static %}
        <script src="{% static 'js/babel.min.js' %}"></script>
        <script src="{% static 'js/d3.v5.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-native-v4.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


    {% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    
    {% endblock %}
    
</head>
<body>
        <style>
            hr {
              opacity: 0;
            }
        </style>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Text Classifier</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item" id="train-li">
                      <a class="nav-link" href="{% url 'train' %}">Train</a>
                    </li>

                    <li class="nav-item" id="pred-li">
                      <a class="nav-link" href="{% url 'predict' %}">Predict</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li> -->
                  </ul>
                </div>
              </nav>

    {% block body %}
      


    {% endblock body %}

    
</body>
</html>